@media screen and (max-width: 1200px)
  .content-header-reviews
    &__top-wrap
      padding: 21px 15px 32px
    &__bottom-wrap
      padding: 26px 15px 12px
      .subheader-wrap
        width: 80%
  .content
    padding: 18px 15px 50px
    &__right-side
      .about
        &__game
          width: 460px
          height: 330px
        &__spins
          height: 330px
          &-name
            line-height: 20px
          &-btn
            padding: 14px 30px 11px
      .slots
        &__list
          justify-content: flex-start
          &-item
            margin-right: 12px
            width: 160px
            &:last-child
              margin-right: 0
            .img-wrap
              width: 160px
              height: 160px
      .faq
        &__list
          &-item
            &-title
              padding: 24px 60px 24px 30px

@media screen and (max-width: 1023px)
  .content-header-reviews
    &__top-wrap
      padding: 21px 15px 25px
      .head-wrap
        margin-top: 25px
        &__logo
          width: 120px
          height: 120px
          flex-shrink: 0
          margin-bottom: 0
        &__name
          margin: 0 15px 0 30px
          &-subtitle
            flex-wrap: wrap
            margin-top: 8px
            .green-btn
              padding: 11px 30px 10px
            .wrap
              margin-top: 10px
              .rate
                order: 2
                margin: 3px 0 0 15px
        &__reputation
          flex-shrink: 0
    &__bottom-wrap
      padding: 15px 15px 10px
      .content-center
        justify-content: unset
      .subheader-wrap
        width: 100%
  .content
    .content-center
      flex-direction: column
    &__side-menu
      width: auto
      margin: 0 -15px
      border-radius: 0
      padding: 0
      .side-menu__list::-webkit-scrollbar
        display: none
      .side-menu__list
        display: flex
        padding: 0 15px
        width: 100vw
        flex-flow: row nowrap
        justify-content: flex-start
        overflow: scroll
        background: transparent
        border-bottom: 1px solid $gray-light
        &-item
          border-bottom: 0
          margin-right: 25px
          flex-flow: row nowrap
          &:last-child
            margin-right: 0
          &:hover
            border-bottom: 2px solid $green-default
          a
            &:before
              margin-right: 12px
        .active
          border-bottom: 2px solid $green-default
      .casino-info
        display: none
    &__right-side
      width: 100%
      margin-top: 15px
      .about
        &__game
          &-btn
            opacity: 1
            visibility: visible
      .faq
        &__list
          &-item
            &-title
              padding: 16px 45px 13px 20px
              font-size: 15px
              &:before
                right: 20px
            &-text
              padding: 0 20px 30px

@media screen and (max-width: 767px)
  .content-header-reviews
    &__top-wrap
      padding: 21px 15px 18px
      .head-wrap
        flex-wrap: wrap
        justify-content: flex-start
        align-items: center
        margin-top: 20px
        &__logo
          width: 90px
          height: 90px
        &__name
          margin: 0 0 0 22px
          max-width: 230px
          &-subtitle
            .green-btn
              display: none
            .badges
              display: none
            .wrap
              margin: 0
              .rate
                margin: 0
                display: flex
                align-items: center
                &:before
                  display: none
                .mob-stars
                  display: flex
                  margin-left: 12px
                  margin-top: -1px
                  .star
                    mask-image: url("../img/star.svg")
                    mask-repeat: no-repeat
                    mask-size: contain
                    background: rgba($gray-semi,.5)
                    width: 15px
                    height: 15px
                    margin-right: 5px
                  .active
                    background: #FFB933
        &__reputation
          background: none
          width: unset
          height: unset
          padding-left: 0
          .circle
            &:after
              font-size: 12px
          .reputation-text
            display: none
        .mob-btn
          display: block
          width: 100%
          margin-top: 25px
          padding: 14px 20px 12px
    &__bottom-wrap
      padding: 15px 15px 0
  .content
    .inner-title
      font-size: 18px
    &__right-side
      .about__more,
      .characteristics__more,
      .slots__more,
      .providers__more
        margin-bottom: -12px
        padding-top: 18px
      .about,
      .characteristics,
      .vantages,
      .providers,
      .slots,
      .devices,
      .faq
        padding: 30px 26px
        border-radius: 2px
      .about
        &__wrap
          flex-direction: column
        &__game
          width: 100%
          height: 187px
          margin-right: 0
          .green-btn
            padding: 14px 30px 11px
        &__spins
          width: 100%
          height: auto
          margin-top: 18px
          padding: 20px 40px
          &-btn
            margin-top: 20px
        &__list
          margin-top: 25px
          &-item
            flex-direction: column
            margin-bottom: 25px
            &-key
              font-size: 12px
              margin-bottom: 5px
      .characteristics
        &__item
          flex-direction: column
          margin-bottom: 25px
          &-key
            font-size: 12px
            margin-bottom: 5px
        &__title
          margin-bottom: 25px
        &__subtitle
          font-size: 16px
          line-height: 20px
        &__txt
          margin-bottom: 25px
      .slots
        &__list
          margin-top: 25px
          margin-right: -20px
          &-item
            width: 136px
            margin-right: 18px
            margin-bottom: 19px
            &:last-child
              margin-right: 18px
            .img-wrap
              width: 136px
              height: 136px
            .subtitle
              font-size: 12px
              color: $gray-semi
              margin-top: 0
        &__more
          margin-top: 10px
        &__info
          .slots__list
            margin-top: 0
      .vantages
        .wrap
          flex-direction: column
          margin-top: 24px
        &__positive,
        &__negative
          width: 100%
          .positive-item,
          .negative-item
            padding: 21px 30px 19px 58px
          .positive-item
            margin-bottom: 12px
        &__negative
          margin-top: 24px
      .faq
        &__list
          &-item
            &-title
              font-size: 14px
              padding: 16px 50px 13px 20px
      .providers
        &__title
          margin-bottom: 20px
        &__list
          margin-right: -10px
          justify-content: flex-start
          &-item
            width: 293px
            margin-right: 10px
            margin-bottom: 12px
      .devices
        &__list
          margin-bottom: -30px
          &-item
            background: transparent
            padding: 0
            margin-bottom: 30px
            width: 70px
            margin-right: 40px
            text-align: center
            &:nth-child(3n)
              margin-right: 25px
            .item-icon
              width: 50px
              height: 50px
              background: $light

@media screen and (max-width: 374px)
  .content-header-reviews
    &__top-wrap
      .head-wrap
        &__logo
          width: 70px
          height: 70px
        &__name
          margin: 0 0 0 15px
          max-width: 160px
          &-title
            font-size: 18px
            line-height: 20px
          &-subtitle
            .wrap
              .rate
                font-size: 12px
                .mob-stars
                  margin-top: -2px
                  .star
                    width: 12px
                    height: 12px
                    margin-right: 4px
    &__bottom-wrap
      .subheader-wrap
        &__provider
          font-size: 12px
          width: 48%
        &__update
          text-align: right
          font-size: 12px
          width: 48%
  .content
    &__right-side
      .about__more,
      .characteristics__more,
      .slots__more,
      .providers__more
        margin-bottom: -6px
      .about,
      .characteristics,
      .vantages,
      .providers,
      .slots,
      .devices,
      .faq
        padding: 20px
      .slots
        &__list
          &-item
            width: 115px
            .img-wrap
              width: 115px
              height: 115px