$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.box-shadow
  background: $white
  box-shadow: 0 4px 20px rgba(8,40,41,.05)

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.rate
  font-size: 14px
  color: $gray-semi
  &:before
    content: ""
    background: url("../img/star.svg") no-repeat 0 0/contain
    width: 16px
    height: 16px
    display: inline-block
    vertical-align: top
    margin: -1px 8px 0 0

.circle
  display: block
  height: 64px
  width: 64px
  border-radius: 100%
  position: relative
  &:after
    content: attr(data-pct)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    font-weight: 600
    color: $green-default
    padding-top: 4px
  &.--high
    &:after
      color: $green-default
    .circle-progress__bar
      stroke: $green-default
  &.--mid
    &:after
      color: #FF7D04
    .circle-progress__bar
      stroke: #FF7D04
  &.--low
    &:after
      color: #E30909
    .circle-progress__bar
      stroke: #E30909
  .circle-progress
    transform: rotate(-90deg)
    circle
      stroke-width: 4px

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.content-header-reviews
  &__top-wrap
    background: $white
    padding: 21px 0 32px
    .breadcrumbs
      li
        display: inline-block
        margin-right: 10px
        font-size: 12px
        color: $gray-semi
        &:last-child
          &:after
            display: none
        &:after
          content: ''
          background: $gray-semi
          width: 15px
          height: 1px
          display: inline-block
          vertical-align: top
          margin: 5px 0 0 10px
        a
          color: $gray-semi
          &:hover
            text-decoration: underline
    .head-wrap
      margin-top: 23px
      display: flex
      justify-content: space-between
      align-items: flex-end
      &__logo
        width: 161px
        height: 161px
        margin-bottom: -74px
        img
          width: 100%
      &__name
        margin-top: 4px
        margin-left: 37px
        &-title
          font-size: 20px
          color: $dark
        &-subtitle
          margin-top: 13px
          display: flex
          align-items: center
          .green-btn
            margin-right: 24px
            padding: 13px 35px 12px
          .wrap
            display: flex
            align-items: center
          .rate
            margin-right: 24px
            margin-top: 3px
            .mob-stars
              display: none
          .badges
            display: flex
            &__item
              font-size: 14px
              color: $gray-semi
              border: 1px solid #E9E9E9
              border-radius: 100px
              padding: 11px 16px 10px
              margin-right: 11px
              &:last-child
                margin-right: 0
            .filter-icon
              &:before
                content: ""
                width: 20px
                height: 20px
                display: inline-block
                vertical-align: top
                margin: -3px 10px 0 0
            .filter-new
              &:before
                background: url("../img/new-icon.png") no-repeat 0 0/contain
      &__reputation
        background: url("../img/reputation-bg.svg") no-repeat 0 0/contain
        width: 168px
        height: 88px
        display: flex
        align-items: center
        z-index: 1
        padding-left: 12px
        margin-left: auto
        .circle
          width: 36px
          height: 36px
          &:after
            font-size: 14px
            padding-top: 3px
          .circle-progress
            circle
              stroke-width: 2px
        .reputation-text
          margin-left: 15px
          &-title
            font-size: 18px
            color: $green-default
          p+p
            margin-top: 4px
            font-size: 14px
            color: #687576
      .mob-btn
        display: none
  &__bottom-wrap
    padding: 26px 0 12px
    background: $light
    .content-center
      display: flex
      justify-content: flex-end
    .subheader-wrap
      width: 83%
      display: flex
      align-items: center
      justify-content: space-between
      &__provider
        font-family: $font-gilroy-regular
        font-size: 14px
        color: $gray-semi
        span
          color: $dark
      &__update
        font-family: $font-gilroy-regular
        margin-left: auto
        font-size: 14px
        color: $gray-semi
        margin-top: 1px

.content
  padding: 18px 0 50px
  background: $light
  .inner-title
    font-size: 20px
    color: $dark
    margin-bottom: 21px
    letter-spacing: -0.015em
  .content-center
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__side-menu
    width: 24%
    background: $white
    box-shadow: 0 4px 20px rgba(8,40,41,.05)
    border-radius: 6px
    padding: 0 20px 20px
    .side-menu__list
      &-item
        border-bottom: 1px solid $gray-light
        a
          font-size: 14px
          color: $dark
          display: flex
          padding: 20px 0 17px
          position: relative
          outline: none
          width: max-content
          &:before
            content: ''
            mask-repeat: no-repeat
            mask-size: contain
            background-color: #BFBFBF
            display: inline-block
            vertical-align: text-top
            margin-right: 15px
            margin-top: -1px
          &:hover
            color: $green-default
            &:before
              background-color: $green-default
      .active
        a
          color: $green-default
          &:before
            background-color: $green-default
      .item-1
        a
          &:before
            mask-image: url("../img/aside-icon-2.svg")
            width: 14px
            height: 14px
      .item-2
        a
          &:before
            mask-image: url("../img/aside-icon-4.svg")
            width: 15px
            height: 15px
      .item-3
        a
          &:before
            mask-image: url("../img/aside-icon-8.svg")
            width: 15px
            height: 15px
      .item-4
        a
          &:before
            mask-image: url("../img/aside-icon-9.svg")
            width: 15px
            height: 15px
      .item-5
        a
          &:before
            mask-image: url("../img/aside-icon-10.svg")
            width: 16px
            height: 14px
      .item-6
        a
          &:before
            mask-image: url("../img/aside-icon-11.svg")
            width: 15px
            height: 15px
    .casino-info
      margin-top: 20px
      display: flex
      flex-wrap: wrap
      &__img
        width: 38px
        height: 38px
        border-radius: 50%
        overflow: hidden
      &__name
        margin-left: 15px
        .name
          font-size: 14px
          color: $dark
        .rate
          margin-top: 6px
          font-size: 12px
          &:before
            margin-top: -2px
      &__btn
        width: 100%
        margin-top: 20px
        padding: 12px 0 9px
  &__right-side
    width: 74.5%
    .about__more,
    .characteristics__more,
    .slots__more,
    .providers__more
      margin: 28px -30px 0
      display: flex
      justify-content: space-between
      border-top: 1px solid $gray-light
      padding: 28px 30px 0
      .show-all
        font-size: 14px
        color: $green-default
        cursor: pointer
        &:before
          content: ''
          mask-image: url("../img/arrow-down.svg")
          mask-size: contain
          mask-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: inline-block
          vertical-align: top
          margin: 3px 12px 0 0
    .about,
    .characteristics,
    .vantages,
    .providers,
    .slots,
    .devices,
    .faq
      background: $white
      box-shadow: 0 4px 20px rgba(8,40,41,.05)
      border-radius: 6px
      padding: 30px 30px 30px
      margin-bottom: 20px
      &__info
        display: none
      .toggle-list
        display: block
      .toggle-arrow
        &:before
          transform: rotate(180deg)
    .about
      &__wrap
        display: flex
        justify-content: space-between
        align-items: flex-start
      &__game
        width: 549px
        height: 350px
        position: relative
        flex-shrink: 0
        margin-right: 16px
        &-btn
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          z-index: 1
          display: flex
          justify-content: center
          align-items: center
          background: rgba($dark,.6)
          transition: opacity .3s linear
          opacity: 0
          visibility: hidden
        &:hover
          .about__game-btn
            opacity: 1
            visibility: visible
        .green-btn
          padding: 20px 30px 18px
        img
          width: 100%
          height: 100%
          object-fit: cover
      &__spins
        background: $light
        padding: 20px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 350px
        &-img
          width: 111px
          height: 111px
          border-radius: 50%
          overflow: hidden
          flex-shrink: 0
        &-name
          margin-top: 12px
          font-size: 18px
          line-height: 24px
          color: $dark
          text-align: center
        &-from
          display: flex
          justify-content: center
          align-items: center
          font-size: 12px
          margin-top: 12px
          color: #9A9A9A
          span
            color: #909090
            display: flex
            align-items: center
            margin-left: 7px
            &:before
              content: ""
              width: 22px
              height: 22px
              border-radius: 50%
              overflow: hidden
              margin-right: 7px
              margin-top: -3px
              background: url("../img/top-casino-2.png") no-repeat 0 0/contain
        &-btn
          margin-top: 30px
          padding: 18px 30px 17px
      &__txt
        margin-top: 30px
        font-size: 14px
        line-height: 20px
        font-family: $font-gilroy-regular
        color: $gray-semi
      &__list
        margin-top: 30px
        &-item
          margin-bottom: 36px
          font-family: $font-gilroy-regular
          font-size: 14px
          color: $gray-semi
          display: flex
          &-key
            min-width: 31%
          &-value
            color: $dark
      &__more
        margin-top: 0
    .characteristics
      padding-bottom: 30px
      &__title
        margin-bottom: 40px
      &__item
        display: flex
        font-size: 14px
        margin-bottom: 35px
        font-family: $font-gilroy-regular
        &-key
          min-width: 31%
          color: $gray-semi
        &-value
          color: $dark
        a
          color: $dark
          &:hover
            text-decoration: underline
      &__subtitle
        font-size: 18px
        line-height: 26px
        color: $dark
      &__txt
        margin-top: 12px
        font-family: $font-gilroy-regular
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        margin-bottom: 35px
      &__more
        margin-top: 15px
    .slots
      padding-bottom: 27px
      &__list
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        &-item
          margin-bottom: 30px
          position: relative
          width: 180px
          margin-right: 30px
          &:nth-child(4n)
            margin-right: 0
          &:hover
            .title
              color: $green-default
          .img-wrap
            width: 180px
            height: 180px
            border-radius: 4px
          .title
            margin-top: 13px
            font-size: 16px
            color: $dark
            letter-spacing: 0.02em
          .subtitle
            margin-top: 3px
            font-family: $font-gilroy-regular
            font-size: 14px
            color: $dark
      &__info
        .slots__list
        margin-top: 0
      &__more
        margin-top: 0
    .vantages
      .wrap
        display: flex
        justify-content: space-between
        margin-top: 29px
      &__positive,
      &__negative
        width: 48.3%
        .positive-item,
        .negative-item
          font-size: 14px
          line-height: 16px
          color: $gray-semi
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
          position: relative
          padding: 23px 30px 21px 58px
          background: $light
          border-radius: 6px
          display: flex
          align-items: center
          &:before
            content: '+'
            font-size: 20px
            line-height: initial
            color: $green-default
            width: 23px
            height: 22px
            border-radius: 50%
            background: rgba(#62AC39,0.16)
            display: flex
            justify-content: center
            position: absolute
            left: 20px
            padding-top: 1px
        .negative-item
          &:before
            content: '-'
            color: #E30909
            background: rgba(#E30909,0.12)
    .faq
      &__list
        margin-top: 30px
        &-item
          background: $white
          list-style: none
          border-radius: 3px
          border: 1px solid $gray-light
          cursor: pointer
          margin-bottom: 10px
          summary::-webkit-details-marker
            display: none
          > summary
            list-style: none
          &[open]
            > summary:before
              transform: rotate(180deg)
          &-title
            font-size: 16px
            color: $dark
            outline: none
            position: relative
            padding: 24px 30px
            display: flex
            align-items: center
            height: 100%
            &:before
              content: ""
              mask-image: url("../img/arrow-down.svg")
              mask-size: 14px 9px
              background-repeat: no-repeat
              background-color: $green-default
              width: 14px
              height: 9px
              display: block
              position: absolute
              top: 45%
              right: 28px
          &-text
            font-family: $font-gilroy-regular
            font-size: 14px
            line-height: 20px
            color: $gray-semi
            padding: 0 30px 24px
    .providers
      padding-bottom: 30px
      &__title
        margin-bottom: 30px
      &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &-item
          width: 31.8%
          margin-bottom: 20px
          border: 1px solid $gray-light
          padding: 14px 20px
          display: flex
          align-items: center
          border-radius: 2px
          .img-wrap
            width: 40px
            height: 40px
            border-radius: 50%
            overflow: hidden
            margin-right: 15px
            img
              width: 100%
          p
            font-size: 14px
            font-family: $font-gilroy-regular
            color: $dark
      &__more
        margin-top: 10px
    .devices
      &__list
        margin-top: 24px
        display: flex
        &-item
          width: 110px
          display: flex
          flex-direction: column
          align-items: center
          padding: 16px 10px
          background: $light
          border-radius: 6px
          margin-right: 20px
          &:last-child
            margin-right: 0
          p
            font-size: 14px
            color: $dark
          .item-icon
            width: 50px
            height: 50px
            border-radius: 50%
            background: $white
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 20px
            &:before
              content: ""
          &:nth-child(1)
            .item-icon
              &:before
                background: url("../img/device-1@2x.png") no-repeat 0 0/contain
                width: 35px
                height: 19px
          &:nth-child(2)
            .item-icon
              &:before
                background: url("../img/device-2@2x.png") no-repeat 0 0/contain
                width: 23px
                height: 27px
          &:nth-child(3)
            .item-icon
              &:before
                background: url("../img/device-3@2x.png") no-repeat 0 0/contain
                width: 22px
                height: 22px