.content-header-reviews
  .content-header-reviews__top-wrap
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li
          a(href="#") Reviews
        li Parimatch
      .head-wrap
        .head-wrap__logo
          img(src="img/review_company-logo.png" alt="Parimatch")
        .head-wrap__name
          h1.head-wrap__name-title Cleopatra
          .head-wrap__name-subtitle
            a(href="#").btn.green-btn Demo
            .wrap
              .rate 9.25 / 10
                .mob-stars
                  .star.active
                  .star.active
                  .star.active
                  .star.active
                  .star
              ul.badges
                li.badges__item.border-btn.filter-icon.filter-new New
                li.badges__item.border-btn Without Deposit
        .head-wrap__reputation
          .circle.--high(data-pct='9.2')
            svg.circle-progress(width='36' height='36' viewport='0 0 18 18')
              circle.circle-progress__bar(stroke-dashoffset='95' r='16' cx='18' cy='18' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
          .reputation-text
            p.reputation-text-title Perfect
            p Reputation
        a(href="#").btn.green-btn.mob-btn Demo
  .content-header-reviews__bottom-wrap
    .content-center
      .subheader-wrap
        .subheader-wrap__provider Provider: #[span Microgaming]
        .subheader-wrap__update Last updated 13.06.2020
.content
  .content-center
    aside.content__side-menu
      ul.side-menu__list
        li.side-menu__list-item.item-1.active
          a(href="#") About Slot
        li.side-menu__list-item.item-2
          a(href="#") Provider
        li.side-menu__list-item.item-3
          a(href="#") Slots
        li.side-menu__list-item.item-4
          a(href="#") FAQ
        li.side-menu__list-item.item-5
          a(href="#") Casinos
        li.side-menu__list-item.item-6
          a(href="#") Devices
      .casino-info
        .casino-info__img
          img(src="img/review_company-logo.png" alt="")
        .casino-info__name
          .name Cleopatra
          .rate 9.25 / 10
        a(href="#").casino-info__btn.btn.green-btn Demo
    .content__right-side
      .about
        h2.about__title.inner-title About Cleopatra Slot
        .about__wrap
          .about__game
            .about__game-btn
              a(href="#").btn.green-btn Demo
            img(src="img/about-slot.jpg" alt="")
          .about__spins
            .about__spins-img
              img(src="img/free-spins-img.png" alt="")
            .about__spins-name 30 free spins for registration
            .about__spins-from From #[span.from Parimatch]
            a(href="#").btn.green-btn.about__spins-btn Play Now
        .about__txt.
          The online Cleopatra slot is brought to you by IGT,
          International Gaming Technology. The Cleopatra slot
          features 20 paylines on 5 reels with 3 rows each. You
          can trigger the Cleopatra Bonus by getting three or
          more Sphinx symbols. In the Cleopatra slot you will
          find win symbols such as: The Eye of Horus, the Crook
          & Flail symbols, the Inscribed Table, Golden Fans and
          Mystical Scarab. Finally there is the portrait of
          Cleopatra which also works as this slot game’s Wil
        ul.about__list
          li.about__list-item
            .about__list-item-key Software
            .about__list-item-value Ainsworth Game Technology
          li.about__list-item
            .about__list-item-key Slot Type
            .about__list-item-value Video Slots
          li.about__list-item
            .about__list-item-key Paylines
            .about__list-item-value 30
          li.about__list-item
            .about__list-item-key Reels
            .about__list-item-value 5
          li.about__list-item
            .about__list-item-key Min Coins Size
            .about__list-item-value 0.2
          li.about__list-item
            .about__list-item-key Max Coins Size
            .about__list-item-value 10
          li.about__list-item
            .about__list-item-key RTP
            .about__list-item-value 95.68%
        .about__info
          h2.about__title.inner-title Cleopatra Slot Details
          ul.about__list
            li.about__list-item
              .about__list-item-key Bonus Game
              .about__list-item-value No
            li.about__list-item
              .about__list-item-key Progressive
              .about__list-item-value No
            li.about__list-item
              .about__list-item-key Wild Symbol
              .about__list-item-value Yes
            li.about__list-item
              .about__list-item-key Skatter Symbol
              .about__list-item-value Yes
            li.about__list-item
              .about__list-item-key Autoplay Option
              .about__list-item-value Yes
            li.about__list-item
              .about__list-item-key Multiplier
              .about__list-item-value Yes
            li.about__list-item
              .about__list-item-key Free Spins
              .about__list-item-value Yes
        .about__more
          .show-all View All
      .characteristics
        h2.inner-title.characteristics__title About Ainsworth Game Technology
        .characteristics__item
          p.characteristics__item-key Website:
          a(href="https://www.agtslots.com" target="_blank").characteristics__item-value www.agtslots.com
        .characteristics__item
          p.characteristics__item-key Withdrawal Times
          .characteristics__item-value
            p Football1x2 Ltd
        .characteristics__subtitle Ainsworth Game Technology Review
        .characteristics__txt.
          1x2gaming is a subsidiary of the 1×2 Network, a UK-based group
          of companies that focuses on the development of HTML5 sports
          games, table games, and slots. Headquartered in Brighton and
          Hove, 1x2gaming maintains a presence in its native United
          Kingdom, as well as Malta, Gibraltar.
        .characteristics__info
          .characteristics__item
            p.characteristics__item-key Update
            .characteristics__item-value
              p 1 days ago
          .characteristics__item
            p.characteristics__item-key Games
            .characteristics__item-value
              p 45
          .characteristics__item
            p.characteristics__item-key Minimum deposit
            .characteristics__item-value
              p 10 EUR/USD/GBP
        .characteristics__more
          .show-all View All
      .slots
        h2.inner-title.slots__title Slots Parimarch
        ul.slots__list
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-1.png" alt="")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-2.png" alt="")
            p.title Dragon Chase
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-3.png" alt="")
            p.title Pirates
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-4.png" alt="")
            p.title Cleopatra
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-5.png" alt="")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-6.png" alt="")
            p.title Dragon Chase
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-7.png" alt="")
            p.title Pirates
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-8.png" alt="")
            p.title Cleopatra
            p.subtitle Pragmatic
        .slots__info
          ul.slots__list
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/new-slots-1.png" alt="")
              p.title Dead or Alive 2
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/new-slots-2.png" alt="")
              p.title Dragon Chase
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/new-slots-3.png" alt="")
              p.title Pirates
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/new-slots-4.png" alt="")
              p.title Cleopatra
              p.subtitle Pragmatic
        .slots__more
          .show-all Show All
      .vantages
        h2.inner-title.customer-support__title Parimatch Casino Review
        .wrap
          ul.vantages__positive
            li.positive-item 24 hour withdrawals once processed
            li.positive-item Home to leading software providers
            li.positive-item Live chat is open 24/7
            li.positive-item Mobile friendly design
          ul.vantages__negative
            li.negative-item Several country restrictions
      .faq
        h2.inner-title.faq__title FAQ
        .faq__list
          details.faq__list-item
            summary.faq__list-item-title What is the RTP/volatility of this casino game?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item
            summary.faq__list-item-title.
              What is the provider of this casino game
            p.faq__list-item-text.
              The best new casinos added to our listing, including detailed
              casino reviews and ratings, bonuses, promotions, and
              experiences by real players right at your fingertips. Here you
              can find the top online casinos we have included in our database
              just recently. The best new casinos added to our listing,
              including detailed casino reviews and ratings, bonuses,
              promotions, and experiences by real players right at your
              fingertips. Here you can find the top online casinos we have
              included in our database just recently. The best new casinos
              added to our listing, including detailed casino reviews and
              ratings, bonuses, promotions, and experiences by real players
              right at your fingertips. Here you
          details.faq__list-item
            summary.faq__list-item-title.
              What is the theme of this casino game?
            p.faq__list-item-text.
              Test text
          details.faq__list-item
            summary.faq__list-item-title.
              Is this game suitable for new players?
            p.faq__list-item-text.
              Test text
      .providers
        h2.inner-title.providers__title Casinos that use Cleopatra slot
        ul.providers__list
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-1.png" alt="")
            p Bao Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-2.png" alt="")
            p Bit Starz Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-3.png" alt="")
            p Parimatch Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-4.png" alt="")
            p Parimatch Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-5.png" alt="")
            p Bao Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-6.png" alt="")
            p Bit Starz Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-1.png" alt="")
            p Bao Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-2.png" alt="")
            p Bit Starz Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-3.png" alt="")
            p Parimatch Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-4.png" alt="")
            p Parimatch Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-5.png" alt="")
            p Bao Casino
          li.providers__list-item
            .img-wrap
              img(src="img/top-casino-6.png" alt="")
            p Bit Starz Casino
        .providers__info
          ul.providers__list
            li.providers__list-item
              .img-wrap
                img(src="img/top-casino-1.png" alt="")
              p Bao Casino
            li.providers__list-item
              .img-wrap
                img(src="img/top-casino-2.png" alt="")
              p Bit Starz Casino
            li.providers__list-item
              .img-wrap
                img(src="img/top-casino-3.png" alt="")
              p Parimatch Casino
            li.providers__list-item
              .img-wrap
                img(src="img/top-casino-4.png" alt="")
              p Parimatch Casino
            li.providers__list-item
              .img-wrap
                img(src="img/top-casino-5.png" alt="")
              p Bao Casino
            li.providers__list-item
              .img-wrap
                img(src="img/top-casino-6.png" alt="")
              p Bit Starz Casino
        .providers__more
          .show-all View All
      .devices
        h2.inner-title.devices__title Devices
        ul.devices__list
          li.devices__list-item
            .item-icon
            p Android
          li.devices__list-item
            .item-icon
            p IOS
          li.devices__list-item
            .item-icon
            p Windows